<div class="container w-container">
    <div class="div-block">
        <div class="section-6 wf-section">
            <a class="button-8 w-button button-17" (click)="goToUrl('mapa')" id="btnMapa">Ver ubicación</a>
        </div>
        <div class="section-5 wf-section">
            <a class="button-7 w-button button-17" (click)="goToUrl('mesa')" id="btnMesa">Mesa de
                regalos</a>
        </div>
        <div class="section-4 wf-section">
            <a href="#" class="button-6 w-button button-17">Confirmar asistencia</a>
        </div>
        <div class="section-3 wf-section">
            <a (click)="goToFront()" class="button-5 w-button button-17">&lt;</a>
        </div>
    </div>
</div>
